Front_end/node_modules
Front_end/dist
Front_end/.git
Front_end/.angular
Front_end/.vscode
Front_end/src/TestScripts
Front_end/npm-debug.log
Front_end/dockerignore
Front_end/.gitignore
Front_end/Dockerfile
Dockerfile
.dockerignore
Back_end/node_modules
Back_end/.git
Back_end/npm-debug.log
Back_end/dockerignore
Back_end/.gitignore
Back_end/Dockerfile